# Formatting files for clust

In [2]:
import os
import os.path
import pandas as pd

In [5]:
exp_21k_file = "/Users/johnsolk/Documents/UCDavis/Whitehead/exp.tsv"
exp_21k = pd.read_csv(exp_21k_file,sep='\t')
exp_21k.head()

,F_rathbuni_BW_1.quant,F_rathbuni_BW_2.quant,F_rathbuni_BW_3.quant,F_rathbuni_FW_1.quant,F_rathbuni_FW_2.quant,F_rathbuni_FW_3.quant,F_grandis_BW_1.quant,F_grandis_BW_2.quant,F_grandis_BW_3.quant,F_grandis_FW_1.quant,...,F_catanatus_BW_2.quant,F_catanatus_BW_3.quant,F_catanatus_FW_1.quant,F_catanatus_FW_2.quant,F_heteroclitusMDPL_BW_1.quant,F_heteroclitusMDPL_BW_2.quant,F_heteroclitusMDPL_BW_3.quant,F_heteroclitusMDPL_FW_1.quant,F_heteroclitusMDPL_FW_2.quant,F_heteroclitusMDPL_FW_3.quant
ENSFHEP00000000002,8.000,0.000,0.000,9.000,3.698,0.000,0.000,0.000,0.000,0.000,...,0.000,1.000,40.885,3.219,2.000,1.000,2.000,4.000,0.000,0.000
ENSFHEP00000000003,1.000,0.000,1.000,0.000,4.000,2.000,171534.834,3658.120,11367.199,40044.122,...,15.854,6.022,304.940,391.971,0.000,0.000,0.000,0.000,0.000,0.000
ENSFHEP00000000004,80441.383,79272.627,68693.367,95453.916,476482.602,100120.403,790984.640,10282.916,51481.406,230210.160,...,292307.459,363649.185,142054.862,703788.356,248399.742,111880.438,34949.434,158191.408,91375.713,163944.848
ENSFHEP00000000005,57591.304,58759.844,47638.353,66862.154,311102.702,70941.888,400880.819,8227.954,40062.153,150074.729,...,102.121,73.000,868.000,267.801,4436.291,834.528,295.038,2729.824,783.143,997.453
ENSFHEP00000000007,11.208,0.000,2.418,40.000,4.000,2.058,86647.948,1586.346,8308.980,36631.028,...,0.000,0.000,130.025,9.046,84.000,35.000,27.000,0.000,5.000,27.000

# summarize expression tables

In [5]:
species_salmon_files = os.listdir(salmon_renamed)
print(species_salmon_files)

['F_notti', 'L_goodei', '.DS_Store', 'L_parva', 'F_similis', 'F_notatus', 'F_heteroclitusMDPP', 'F_heteroclitusMDPL', 'F_parvapinis', 'F_diaphanus', 'F_catanatus', 'F_zebrinus', 'F_sciadicus', 'F_grandis', 'F_rathbuni', 'F_chrysotus', 'F_olivaceous', 'A_xenica']

In [7]:
for species in species_salmon_files:
    if species != ".DS_Store":
        print(species)
        species_merged = pd.DataFrame(columns=['Name'])
        species_dir = salmon_renamed + species + "/"
        species_files = os.listdir(species_dir)
        for quant in species_files:
            quant_file = species_dir + quant
            species_exp = pd.read_csv(quant_file)
            species_exp = species_exp.drop(columns=['Unnamed: 0','Length','EffectiveLength','TPM'])
            colname = quant.split(".")[0]
            species_exp = species_exp.rename(index=str, columns={"NumReads": colname})
            cols = ['Name',colname]
            species_exp = species_exp[cols]
            species_merged = pd.merge(species_merged,species_exp,how='outer')
            print(species_merged.shape)
        #species_merged = species_merged.set_index('Name')
        species_filename = expression_tables_species + species + ".tsv"
        species_merged.to_csv(species_filename,sep="\t",index=False,index_label=None)

F_notti
(131628, 2)
(131628, 3)
L_goodei
(320120, 2)
(320120, 3)
(320120, 4)
(320120, 5)
(320120, 6)
(320120, 7)
(320120, 8)
(320120, 9)
(320120, 10)
L_parva
(340044, 2)
(341080, 3)
(341080, 4)
(341080, 5)
(341080, 6)
(341080, 7)
(341080, 8)
(341080, 9)
(341080, 10)
F_similis
(426262, 2)
(426262, 3)
(426262, 4)
(426262, 5)
(426262, 6)
(426262, 7)
(426262, 8)
(426262, 9)
(426262, 10)
F_notatus
(343128, 2)
(343128, 3)
(343128, 4)
(343128, 5)
(343128, 6)
(343128, 7)
(343128, 8)
(343128, 9)
(343128, 10)
F_heteroclitusMDPP
(552204, 2)
(552204, 3)
(552204, 4)
(552204, 5)
(552204, 6)
(552204, 7)
(552204, 8)
(552204, 9)
(552204, 10)
F_heteroclitusMDPL
(489881, 2)
(489881, 3)
(489881, 4)
(489881, 5)
(489881, 6)
(489881, 7)
(489881, 8)
(489881, 9)
(489881, 10)
F_parvapinis
(298549, 2)
(298549, 3)
(298549, 4)
(298549, 5)
(298549, 6)
(298549, 7)
(298549, 8)
(298549, 9)
F_diaphanus
(320734, 2)
(320734, 3)
(320734, 4)
(320734, 5)
(320734, 6)
(320734, 7)
F_catanatus
(325956, 2)
(325956, 3)
(325956, 4)
(325956, 5)
(325956, 6)
(325956, 7)
(325956, 8)
F_zebrinus
(230099, 2)
(230099, 3)
(230099, 4)
(230099, 5)
F_sciadicus
(199646, 2)
(199646, 3)
(199646, 4)
(199646, 5)
F_grandis
(676974, 2)
(676974, 3)
(676974, 4)
(676974, 5)
(676974, 6)
(676974, 7)
(676974, 8)
(676974, 9)
(676974, 10)
F_rathbuni
(419800, 2)
(419800, 3)
(419800, 4)
(419800, 5)
(419800, 6)
(419800, 7)
(419800, 8)
(419800, 9)
(419800, 10)
F_chrysotus
(328865, 2)
(328865, 3)
(328865, 4)
(328865, 5)
(328865, 6)
(328865, 7)
(328865, 8)
(328865, 9)
F_olivaceous
(296801, 2)
(296801, 3)
(296801, 4)
(296801, 5)
(296801, 6)
(296801, 7)
(296801, 8)
(296801, 9)
A_xenica
(301664, 2)
(301664, 3)
(301664, 4)
(301664, 5)
(301664, 6)
(301664, 7)
(301664, 8)
(301664, 9)
(301664, 10)

# make replicates file

In [20]:
species_files = os.listdir(expression_tables_species)

In [21]:
print(species_files)

['F_heteroclitusMDPP_counts.csv', 'F_parvapinis_counts.csv', 'F_olivaceous_counts.csv', 'F_notatus_counts.csv', 'F_heteroclitusMDPL_counts.csv', 'F_notti_counts.csv', 'F_grandis_counts.csv', 'F_zebrinus_counts.csv', 'A_xenica_counts.csv', 'F_catanatus_counts.csv', 'F_sciadicus_counts.csv', 'F_rathbuni_counts.csv', 'F_chrysotus_counts.csv', 'F_diaphanus_counts.csv', 'L_goodei_counts.csv', 'F_similis_counts.csv']

In [26]:
replicates = {}
for species in species_files:
    if species != ".DS_Store":
        print(species)
        species_file = expression_tables_species + species
        frame = pd.read_csv(species_file)
        species_replicates = list(frame.columns.values)
        print(species_replicates)
        for rep in species_replicates:
            if rep != "Unnamed: 0":
                treatment = rep.split("_")[2]
                if treatment == "FW":
                    condition = "0.2_ppt"
                if treatment == "BW":
                    condition = "15_ppt"
                if treatment == "transfer":
                    condition = "transfer"
                species_treatment = (species,condition)
                if species_treatment not in replicates:
                    replicates[species_treatment] = [rep]
                else:
                    replicates[species_treatment].append(rep)
print(replicates)

F_heteroclitusMDPP_counts.csv
['Unnamed: 0', 'F_heteroclitusMDPP_BW_1', 'F_heteroclitusMDPP_BW_2', 'F_heteroclitusMDPP_BW_3', 'F_heteroclitusMDPP_FW_1', 'F_heteroclitusMDPP_FW_2', 'F_heteroclitusMDPP_FW_3', 'F_heteroclitusMDPP_transfer_1', 'F_heteroclitusMDPP_transfer_2', 'F_heteroclitusMDPP_transfer_3']
F_parvapinis_counts.csv
['Unnamed: 0', 'F_parvapinis_BW_1', 'F_parvapinis_BW_2', 'F_parvapinis_BW_3', 'F_parvapinis_FW_1', 'F_parvapinis_FW_2', 'F_parvapinis_FW_3', 'F_parvapinis_transfer_1', 'F_parvapinis_transfer_2']
F_olivaceous_counts.csv
['Unnamed: 0', 'F_olivaceous_BW_1', 'F_olivaceous_BW_2', 'F_olivaceous_BW_3', 'F_olivaceous_FW_1', 'F_olivaceous_FW_2', 'F_olivaceous_FW_3', 'F_olivaceous_transfer_1', 'F_olivaceous_transfer_2']
F_notatus_counts.csv
['Unnamed: 0', 'F_notatus_BW_1', 'F_notatus_BW_2', 'F_notatus_BW_3', 'F_notatus_FW_1', 'F_notatus_FW_2', 'F_notatus_FW_3', 'F_notatus_transfer_1', 'F_notatus_transfer_2', 'F_notatus_transfer_3']
F_heteroclitusMDPL_counts.csv
['Unnamed: 0', 'F_heteroclitusMDPL_BW_1', 'F_heteroclitusMDPL_BW_2', 'F_heteroclitusMDPL_BW_3', 'F_heteroclitusMDPL_FW_1', 'F_heteroclitusMDPL_FW_2', 'F_heteroclitusMDPL_FW_3', 'F_heteroclitusMDPL_transfer_1', 'F_heteroclitusMDPL_transfer_2', 'F_heteroclitusMDPL_transfer_3']
F_notti_counts.csv
['Unnamed: 0', 'F_notti_FW_1', 'F_notti_FW_2']
F_grandis_counts.csv
['Unnamed: 0', 'F_grandis_BW_1', 'F_grandis_BW_2', 'F_grandis_BW_3', 'F_grandis_FW_1', 'F_grandis_FW_2', 'F_grandis_FW_3', 'F_grandis_transfer_1', 'F_grandis_transfer_2', 'F_grandis_transfer_3']
F_zebrinus_counts.csv
['Unnamed: 0', 'F_zebrinus_BW_1', 'F_zebrinus_BW_2', 'F_zebrinus_FW_1', 'F_zebrinus_FW_2']
A_xenica_counts.csv
['Unnamed: 0', 'A_xenica_BW_1', 'A_xenica_BW_2', 'A_xenica_BW_3', 'A_xenica_FW_1', 'A_xenica_FW_2', 'A_xenica_FW_3', 'A_xenica_transfer_1', 'A_xenica_transfer_2', 'A_xenica_transfer_3']
F_catanatus_counts.csv
['Unnamed: 0', 'F_catanatus_BW_1', 'F_catanatus_BW_2', 'F_catanatus_BW_3', 'F_catanatus_FW_1', 'F_catanatus_FW_2', 'F_catanatus_transfer_1', 'F_catanatus_transfer_2']
F_sciadicus_counts.csv
['Unnamed: 0', 'F_sciadicus_BW_1', 'F_sciadicus_FW_1', 'F_sciadicus_FW_2', 'F_sciadicus_transfer_1']
F_rathbuni_counts.csv
['Unnamed: 0', 'F_rathbuni_BW_1', 'F_rathbuni_BW_2', 'F_rathbuni_BW_3', 'F_rathbuni_FW_1', 'F_rathbuni_FW_2', 'F_rathbuni_FW_3', 'F_rathbuni_transfer_1', 'F_rathbuni_transfer_2', 'F_rathbuni_transfer_3']
F_chrysotus_counts.csv
['Unnamed: 0', 'F_chrysotus_BW_1', 'F_chrysotus_BW_2', 'F_chrysotus_BW_3', 'F_chrysotus_FW_1', 'F_chrysotus_FW_2', 'F_chrysotus_FW_3', 'F_chrysotus_transfer_1', 'F_chrysotus_transfer_2']
F_diaphanus_counts.csv
['Unnamed: 0', 'F_diaphanus_BW_1', 'F_diaphanus_BW_2', 'F_diaphanus_FW_2', 'F_diaphanus_FW_3', 'F_diaphanus_transfer_1', 'F_diaphanus_transfer_2']
L_goodei_counts.csv
['Unnamed: 0', 'L_goodei_BW_1', 'L_goodei_BW_2', 'L_goodei_BW_3', 'L_goodei_FW_1', 'L_goodei_FW_2', 'L_goodei_FW_3', 'L_goodei_transfer_1', 'L_goodei_transfer_2', 'L_goodei_transfer_3']
F_similis_counts.csv
['Unnamed: 0', 'F_similis_BW_1', 'F_similis_BW_2', 'F_similis_BW_3', 'F_similis_FW_1', 'F_similis_FW_2', 'F_similis_FW_3', 'F_similis_transfer_1', 'F_similis_transfer_2', 'F_similis_transfer_3']
{('F_heteroclitusMDPP_counts.csv', '15_ppt'): ['F_heteroclitusMDPP_BW_1', 'F_heteroclitusMDPP_BW_2', 'F_heteroclitusMDPP_BW_3'], ('F_heteroclitusMDPP_counts.csv', '0.2_ppt'): ['F_heteroclitusMDPP_FW_1', 'F_heteroclitusMDPP_FW_2', 'F_heteroclitusMDPP_FW_3'], ('F_heteroclitusMDPP_counts.csv', 'transfer'): ['F_heteroclitusMDPP_transfer_1', 'F_heteroclitusMDPP_transfer_2', 'F_heteroclitusMDPP_transfer_3'], ('F_parvapinis_counts.csv', '15_ppt'): ['F_parvapinis_BW_1', 'F_parvapinis_BW_2', 'F_parvapinis_BW_3'], ('F_parvapinis_counts.csv', '0.2_ppt'): ['F_parvapinis_FW_1', 'F_parvapinis_FW_2', 'F_parvapinis_FW_3'], ('F_parvapinis_counts.csv', 'transfer'): ['F_parvapinis_transfer_1', 'F_parvapinis_transfer_2'], ('F_olivaceous_counts.csv', '15_ppt'): ['F_olivaceous_BW_1', 'F_olivaceous_BW_2', 'F_olivaceous_BW_3'], ('F_olivaceous_counts.csv', '0.2_ppt'): ['F_olivaceous_FW_1', 'F_olivaceous_FW_2', 'F_olivaceous_FW_3'], ('F_olivaceous_counts.csv', 'transfer'): ['F_olivaceous_transfer_1', 'F_olivaceous_transfer_2'], ('F_notatus_counts.csv', '15_ppt'): ['F_notatus_BW_1', 'F_notatus_BW_2', 'F_notatus_BW_3'], ('F_notatus_counts.csv', '0.2_ppt'): ['F_notatus_FW_1', 'F_notatus_FW_2', 'F_notatus_FW_3'], ('F_notatus_counts.csv', 'transfer'): ['F_notatus_transfer_1', 'F_notatus_transfer_2', 'F_notatus_transfer_3'], ('F_heteroclitusMDPL_counts.csv', '15_ppt'): ['F_heteroclitusMDPL_BW_1', 'F_heteroclitusMDPL_BW_2', 'F_heteroclitusMDPL_BW_3'], ('F_heteroclitusMDPL_counts.csv', '0.2_ppt'): ['F_heteroclitusMDPL_FW_1', 'F_heteroclitusMDPL_FW_2', 'F_heteroclitusMDPL_FW_3'], ('F_heteroclitusMDPL_counts.csv', 'transfer'): ['F_heteroclitusMDPL_transfer_1', 'F_heteroclitusMDPL_transfer_2', 'F_heteroclitusMDPL_transfer_3'], ('F_notti_counts.csv', '0.2_ppt'): ['F_notti_FW_1', 'F_notti_FW_2'], ('F_grandis_counts.csv', '15_ppt'): ['F_grandis_BW_1', 'F_grandis_BW_2', 'F_grandis_BW_3'], ('F_grandis_counts.csv', '0.2_ppt'): ['F_grandis_FW_1', 'F_grandis_FW_2', 'F_grandis_FW_3'], ('F_grandis_counts.csv', 'transfer'): ['F_grandis_transfer_1', 'F_grandis_transfer_2', 'F_grandis_transfer_3'], ('F_zebrinus_counts.csv', '15_ppt'): ['F_zebrinus_BW_1', 'F_zebrinus_BW_2'], ('F_zebrinus_counts.csv', '0.2_ppt'): ['F_zebrinus_FW_1', 'F_zebrinus_FW_2'], ('A_xenica_counts.csv', '15_ppt'): ['A_xenica_BW_1', 'A_xenica_BW_2', 'A_xenica_BW_3'], ('A_xenica_counts.csv', '0.2_ppt'): ['A_xenica_FW_1', 'A_xenica_FW_2', 'A_xenica_FW_3'], ('A_xenica_counts.csv', 'transfer'): ['A_xenica_transfer_1', 'A_xenica_transfer_2', 'A_xenica_transfer_3'], ('F_catanatus_counts.csv', '15_ppt'): ['F_catanatus_BW_1', 'F_catanatus_BW_2', 'F_catanatus_BW_3'], ('F_catanatus_counts.csv', '0.2_ppt'): ['F_catanatus_FW_1', 'F_catanatus_FW_2'], ('F_catanatus_counts.csv', 'transfer'): ['F_catanatus_transfer_1', 'F_catanatus_transfer_2'], ('F_sciadicus_counts.csv', '15_ppt'): ['F_sciadicus_BW_1'], ('F_sciadicus_counts.csv', '0.2_ppt'): ['F_sciadicus_FW_1', 'F_sciadicus_FW_2'], ('F_sciadicus_counts.csv', 'transfer'): ['F_sciadicus_transfer_1'], ('F_rathbuni_counts.csv', '15_ppt'): ['F_rathbuni_BW_1', 'F_rathbuni_BW_2', 'F_rathbuni_BW_3'], ('F_rathbuni_counts.csv', '0.2_ppt'): ['F_rathbuni_FW_1', 'F_rathbuni_FW_2', 'F_rathbuni_FW_3'], ('F_rathbuni_counts.csv', 'transfer'): ['F_rathbuni_transfer_1', 'F_rathbuni_transfer_2', 'F_rathbuni_transfer_3'], ('F_chrysotus_counts.csv', '15_ppt'): ['F_chrysotus_BW_1', 'F_chrysotus_BW_2', 'F_chrysotus_BW_3'], ('F_chrysotus_counts.csv', '0.2_ppt'): ['F_chrysotus_FW_1', 'F_chrysotus_FW_2', 'F_chrysotus_FW_3'], ('F_chrysotus_counts.csv', 'transfer'): ['F_chrysotus_transfer_1', 'F_chrysotus_transfer_2'], ('F_diaphanus_counts.csv', '15_ppt'): ['F_diaphanus_BW_1', 'F_diaphanus_BW_2'], ('F_diaphanus_counts.csv', '0.2_ppt'): ['F_diaphanus_FW_2', 'F_diaphanus_FW_3'], ('F_diaphanus_counts.csv', 'transfer'): ['F_diaphanus_transfer_1', 'F_diaphanus_transfer_2'], ('L_goodei_counts.csv', '15_ppt'): ['L_goodei_BW_1', 'L_goodei_BW_2', 'L_goodei_BW_3'], ('L_goodei_counts.csv', '0.2_ppt'): ['L_goodei_FW_1', 'L_goodei_FW_2', 'L_goodei_FW_3'], ('L_goodei_counts.csv', 'transfer'): ['L_goodei_transfer_1', 'L_goodei_transfer_2', 'L_goodei_transfer_3'], ('F_similis_counts.csv', '15_ppt'): ['F_similis_BW_1', 'F_similis_BW_2', 'F_similis_BW_3'], ('F_similis_counts.csv', '0.2_ppt'): ['F_similis_FW_1', 'F_similis_FW_2', 'F_similis_FW_3'], ('F_similis_counts.csv', 'transfer'): ['F_similis_transfer_1', 'F_similis_transfer_2', 'F_similis_transfer_3']}

In [27]:
with open("/Users/johnsolk/Documents/UCDavis/Whitehead/kfish_salmon/species_replicates",'w') as fp:
    for i in replicates:
        species = i[0]
        condition = i[1]
        reps = ', '.join(replicates[i])
        fp.write(species + "\t")
        fp.write(condition + "\t")
        fp.write(reps + "\n")

# replicates file for one large expression matrix

In [6]:
dir = '/Users/johnsolk/Documents/UCDavis/Whitehead/kfish_salmon/'
species_files = ["OG_species_counts.csv"]
replicates = {}
for species in species_files:
    if species.endswith(".csv"):
        print(species)
        species_file = dir + species
        frame = pd.read_csv(species_file)
        species_replicates = list(frame.columns.values)
        for rep in species_replicates:
            if rep != "OG":
                treatment = rep.split("_")[2]
                if treatment == "FW":
                    condition = "0.2_ppt"
                if treatment == "BW":
                    condition = "15_ppt"
                if treatment == "transfer":
                    condition = "transfer"
                species_treatment = (species,condition)
                if species_treatment not in replicates:
                    replicates[species_treatment] = [rep]
                else:
                    replicates[species_treatment].append(rep)
print(replicates)

OG_species_counts.csv
{('OG_species_counts.csv', '15_ppt'): ['F_heteroclitusMDPP_BW_1', 'F_heteroclitusMDPP_BW_2', 'F_heteroclitusMDPP_BW_3', 'F_parvapinis_BW_1', 'F_parvapinis_BW_2', 'F_parvapinis_BW_3', 'F_olivaceous_BW_1', 'F_olivaceous_BW_2', 'F_olivaceous_BW_3', 'F_notatus_BW_1', 'F_notatus_BW_2', 'F_notatus_BW_3', 'F_heteroclitusMDPL_BW_1', 'F_heteroclitusMDPL_BW_2', 'F_heteroclitusMDPL_BW_3', 'F_grandis_BW_1', 'F_grandis_BW_2', 'F_grandis_BW_3', 'F_zebrinus_BW_1', 'F_zebrinus_BW_2', 'A_xenica_BW_1', 'A_xenica_BW_2', 'A_xenica_BW_3', 'F_catanatus_BW_1', 'F_catanatus_BW_2', 'F_catanatus_BW_3', 'F_sciadicus_BW_1', 'F_rathbuni_BW_1', 'F_rathbuni_BW_2', 'F_rathbuni_BW_3', 'F_chrysotus_BW_1', 'F_chrysotus_BW_2', 'F_chrysotus_BW_3', 'F_diaphanus_BW_1', 'F_diaphanus_BW_2', 'L_goodei_BW_1', 'L_goodei_BW_2', 'L_goodei_BW_3', 'F_similis_BW_1', 'F_similis_BW_2', 'F_similis_BW_3'], ('OG_species_counts.csv', '0.2_ppt'): ['F_heteroclitusMDPP_FW_1', 'F_heteroclitusMDPP_FW_2', 'F_heteroclitusMDPP_FW_3', 'F_parvapinis_FW_1', 'F_parvapinis_FW_2', 'F_parvapinis_FW_3', 'F_olivaceous_FW_1', 'F_olivaceous_FW_2', 'F_olivaceous_FW_3', 'F_notatus_FW_1', 'F_notatus_FW_2', 'F_notatus_FW_3', 'F_heteroclitusMDPL_FW_1', 'F_heteroclitusMDPL_FW_2', 'F_heteroclitusMDPL_FW_3', 'F_notti_FW_1', 'F_notti_FW_2', 'F_grandis_FW_1', 'F_grandis_FW_2', 'F_grandis_FW_3', 'F_zebrinus_FW_1', 'F_zebrinus_FW_2', 'A_xenica_FW_1', 'A_xenica_FW_2', 'A_xenica_FW_3', 'F_catanatus_FW_1', 'F_catanatus_FW_2', 'F_sciadicus_FW_1', 'F_sciadicus_FW_2', 'F_rathbuni_FW_1', 'F_rathbuni_FW_2', 'F_rathbuni_FW_3', 'F_chrysotus_FW_1', 'F_chrysotus_FW_2', 'F_chrysotus_FW_3', 'F_diaphanus_FW_2', 'F_diaphanus_FW_3', 'L_goodei_FW_1', 'L_goodei_FW_2', 'L_goodei_FW_3', 'F_similis_FW_1', 'F_similis_FW_2', 'F_similis_FW_3'], ('OG_species_counts.csv', 'transfer'): ['F_heteroclitusMDPP_transfer_1', 'F_heteroclitusMDPP_transfer_2', 'F_heteroclitusMDPP_transfer_3', 'F_parvapinis_transfer_1', 'F_parvapinis_transfer_2', 'F_olivaceous_transfer_1', 'F_olivaceous_transfer_2', 'F_notatus_transfer_1', 'F_notatus_transfer_2', 'F_notatus_transfer_3', 'F_heteroclitusMDPL_transfer_1', 'F_heteroclitusMDPL_transfer_2', 'F_heteroclitusMDPL_transfer_3', 'F_grandis_transfer_1', 'F_grandis_transfer_2', 'F_grandis_transfer_3', 'A_xenica_transfer_1', 'A_xenica_transfer_2', 'A_xenica_transfer_3', 'F_catanatus_transfer_1', 'F_catanatus_transfer_2', 'F_sciadicus_transfer_1', 'F_rathbuni_transfer_1', 'F_rathbuni_transfer_2', 'F_rathbuni_transfer_3', 'F_chrysotus_transfer_1', 'F_chrysotus_transfer_2', 'F_diaphanus_transfer_1', 'F_diaphanus_transfer_2', 'L_goodei_transfer_1', 'L_goodei_transfer_2', 'L_goodei_transfer_3', 'F_similis_transfer_1', 'F_similis_transfer_2', 'F_similis_transfer_3']}

In [7]:
with open("/Users/johnsolk/Documents/UCDavis/Whitehead/kfish_salmon/OG_combined_replicates",'w') as fp:
    for i in replicates:
        species = i[0]
        condition = i[1]
        reps = ', '.join(replicates[i])
        fp.write(species + "\t")
        fp.write(condition + "\t")
        fp.write(reps + "\n")

# test code combined expression tables

In [5]:
species = 'F_grandis'
species_dir = salmon_renamed + species + "/"
species_files = os.listdir(species_dir)

In [6]:
print(species_files)

['F_grandis_transfer_1.quant.sf', 'F_grandis_FW_1.quant.sf', 'F_grandis_BW_3.quant.sf', 'F_grandis_BW_2.quant.sf', 'F_grandis_transfer_3.quant.sf', 'F_grandis_transfer_2.quant.sf', 'F_grandis_BW_1.quant.sf', 'F_grandis_FW_2.quant.sf', 'F_grandis_FW_3.quant.sf']

In [36]:
species_merged = pd.DataFrame(columns=['Name'])
quant_file = species_dir + 'F_grandis_transfer_1.quant.sf'
quant = 'F_grandis_transfer_1.quant.sf'
colname = quant.split(".")[0]
species_exp = pd.read_csv(quant_file)
species_exp = species_exp.drop(columns=['Unnamed: 0','Length','EffectiveLength','TPM'])
species_exp = species_exp.rename(index=str, columns={"NumReads": colname})
cols = ['Name',colname]
species_exp = species_exp[cols]
species_merged = pd.merge(species_merged,species_exp,how='outer')

In [37]:
species_merged.head()

                             Name  F_grandis_transfer_1
0  Fgrandis-TRINITY_DN85_c0_g1_i1                 0.000
1  Fgrandis-TRINITY_DN85_c1_g1_i6                 0.000
2  Fgrandis-TRINITY_DN85_c1_g1_i7                27.822
3  Fgrandis-TRINITY_DN85_c1_g1_i5                 0.000
4  Fgrandis-TRINITY_DN85_c1_g1_i9                13.620

In [14]:
print(species_exp.shape)

(676974, 1)

In [38]:
species_merged = pd.DataFrame(columns=['Name'])
for quant in species_files:
    quant_file = species_dir + quant
    species_exp = pd.read_csv(quant_file)
    species_exp = species_exp.drop(columns=['Unnamed: 0','Length','EffectiveLength','TPM'])
    colname = quant.split(".")[0]
    species_exp = species_exp.rename(index=str, columns={"NumReads": colname})
    cols = ['Name',colname]
    species_exp = species_exp[cols]
    species_merged = pd.merge(species_merged,species_exp,how='outer')
    print(species_merged.shape)

(676974, 2)
(676974, 3)
(676974, 4)
(676974, 5)
(676974, 6)
(676974, 7)
(676974, 8)
(676974, 9)
(676974, 10)

In [41]:
species_merged = species_merged.set_index('Name')
species_merged.head()

,F_grandis_transfer_1,F_grandis_FW_1,F_grandis_BW_3,F_grandis_BW_2,F_grandis_transfer_3,F_grandis_transfer_2,F_grandis_BW_1,F_grandis_FW_2,F_grandis_FW_3
Name,,,,,,,,,
Fgrandis-TRINITY_DN85_c0_g1_i1,0.000,2.000,0.000,0.000,0.000,0.000,1.000,0.000,3.000
Fgrandis-TRINITY_DN85_c1_g1_i6,0.000,0.000,0.000,0.000,0.000,0.000,0.000,7.699,0.000
Fgrandis-TRINITY_DN85_c1_g1_i7,27.822,22.913,0.000,5.587,28.101,13.151,167.787,17.078,25.892
Fgrandis-TRINITY_DN85_c1_g1_i5,0.000,3.632,0.000,0.000,1.090,1.132,5.414,3.439,4.637
Fgrandis-TRINITY_DN85_c1_g1_i9,13.620,0.000,32.091,0.000,11.686,0.000,0.000,0.000,16.840

In [43]:
species_merged.to_csv("F_grandis.tsv",sep="\t")

# test code rename contigs

In [48]:
quant_test = pd.read_csv("/Users/johnsolk/Documents/UCDavis/Whitehead/kfish_salmon/kfish_salmon/A_xenica_FW_2.quant/quant.sf",sep="\t")
quant_test.head()

                   Name  Length  EffectiveLength         TPM  NumReads
0  TRINITY_DN8_c0_g1_i7    1034           774.91   26.168216    92.852
1  TRINITY_DN8_c0_g1_i6    1035           775.91  368.774479  1310.196
2  TRINITY_DN8_c0_g1_i1    3195          2935.91   65.835643   885.050
3  TRINITY_DN8_c0_g1_i9    2874          2614.91  344.014191  4119.052
4  TRINITY_DN8_c0_g1_i4    2155          1895.91   96.229381   835.391

change 'Name' to '`Genusspecies-TRINITY_DNx_ca_gb_ic`'

In [49]:
genusspecies = genus_species.split("_")[0] + genus_species.split("_")[1]

In [50]:
prefix = genusspecies+"-"
quant_test['new'] = prefix+quant_test['Name'].astype(str)

In [51]:
quant_test.head()

,Name,Length,EffectiveLength,TPM,NumReads,new
0,TRINITY_DN8_c0_g1_i7,1034,774.91,26.168216,92.852,Fdiaphanus-TRINITY_DN8_c0_g1_i7
1,TRINITY_DN8_c0_g1_i6,1035,775.91,368.774479,1310.196,Fdiaphanus-TRINITY_DN8_c0_g1_i6
2,TRINITY_DN8_c0_g1_i1,3195,2935.91,65.835643,885.050,Fdiaphanus-TRINITY_DN8_c0_g1_i1
3,TRINITY_DN8_c0_g1_i9,2874,2614.91,344.014191,4119.052,Fdiaphanus-TRINITY_DN8_c0_g1_i9
4,TRINITY_DN8_c0_g1_i4,2155,1895.91,96.229381,835.391,Fdiaphanus-TRINITY_DN8_c0_g1_i4

In [52]:
quant_test = quant_test.drop(columns=['Name'])

In [53]:
quant_test = quant_test.rename(index=str, columns={"new": "Name", "Length": "Length",'EffectiveLength':'EffectiveLength','TPM':'TPM','NumReads':'NumReads'})

In [54]:
quant_test.head()

,Length,EffectiveLength,TPM,NumReads,Name
0,1034,774.91,26.168216,92.852,Fdiaphanus-TRINITY_DN8_c0_g1_i7
1,1035,775.91,368.774479,1310.196,Fdiaphanus-TRINITY_DN8_c0_g1_i6
2,3195,2935.91,65.835643,885.050,Fdiaphanus-TRINITY_DN8_c0_g1_i1
3,2874,2614.91,344.014191,4119.052,Fdiaphanus-TRINITY_DN8_c0_g1_i9
4,2155,1895.91,96.229381,835.391,Fdiaphanus-TRINITY_DN8_c0_g1_i4