# Formatting files for clust

In [1]:
import os
import os.path
import pandas as pd

In [3]:
salmon_dir = "/Users/johnsolk/Documents/UCDavis/Whitehead/kfish_salmon/kfish_salmon/"
expression_tables_species = "/Users/johnsolk/Documents/UCDavis/Whitehead/kfish_salmon/tximport_counts_ensembl/"

# make replicates file

In [12]:
species_files = os.listdir(expression_tables_species)

In [13]:
print(species_files)

['F_sciadicus_counts_ensembl.csv', 'F_rathbuni_counts_ensembl.csv', 'F_zebrinus_counts_ensembl.csv', 'F_grandis_counts_ensembl.csv', 'F_notatus_counts_ensembl.csv', 'F_notti_counts_ensembl.csv', 'F_parvapinis_counts_ensembl.csv', 'L_goodei_counts_ensembl.csv', 'F_olivaceous_counts_ensembl.csv', 'L_parva_counts_ensembl.csv', 'F_heteroclitusMDPP_counts_ensembl.csv', 'F_similis_counts_ensembl.csv', 'F_diaphanus_counts_ensembl.csv', 'F_chrysotus_counts_ensembl.csv', 'A_xenica_counts_ensembl.csv', 'F_catanatus_counts_ensembl.csv', 'F_heteroclitusMDPL_counts_ensembl.csv']

In [15]:
for species in species_files:
    replicates = {}
    if species != ".DS_Store":
        print(species)
        species_name = species.split("_")[0] + "_" + species.split("_")[1]
        species_file = expression_tables_species + species
        frame = pd.read_csv(species_file,sep="\t")
        species_replicates = list(frame.columns.values)
        print(species_replicates)
        for rep in species_replicates:
            if rep != "Unnamed: 0":
                treatment = rep.split("_")[2]
                if treatment == "FW":
                    condition = "0.2_ppt"
                if treatment == "transfer":
                    condition = "transfer"
                if treatment == "BW":
                    condition = "15_ppt"
                species_treatment = (species,condition)
                if species_treatment not in replicates:
                    replicates[species_treatment] = [rep]
                else:
                    replicates[species_treatment].append(rep)
    print(replicates)
    species_rep_file = "/Users/johnsolk/Documents/UCDavis/Whitehead/kfish_salmon/clust_species_reps_files/" + species_name + "_replicates"
    with open(species_rep_file,'w') as fp:
        for i in replicates:
            species = i[0]
            condition = i[1]
            reps = ', '.join(replicates[i])
            fp.write(species + "\t")
            fp.write(condition + "\t")
            fp.write(reps + "\n")

F_sciadicus_counts_ensembl.csv
['Unnamed: 0', 'F_sciadicus_BW_1.quant', 'F_sciadicus_FW_1.quant', 'F_sciadicus_FW_2.quant', 'F_sciadicus_transfer_1.quant']
{('F_sciadicus_counts_ensembl.csv', '15_ppt'): ['F_sciadicus_BW_1.quant'], ('F_sciadicus_counts_ensembl.csv', '0.2_ppt'): ['F_sciadicus_FW_1.quant', 'F_sciadicus_FW_2.quant'], ('F_sciadicus_counts_ensembl.csv', 'transfer'): ['F_sciadicus_transfer_1.quant']}
F_rathbuni_counts_ensembl.csv
['Unnamed: 0', 'F_rathbuni_BW_1.quant', 'F_rathbuni_BW_2.quant', 'F_rathbuni_BW_3.quant', 'F_rathbuni_FW_1.quant', 'F_rathbuni_FW_2.quant', 'F_rathbuni_FW_3.quant', 'F_rathbuni_transfer_1.quant', 'F_rathbuni_transfer_2.quant', 'F_rathbuni_transfer_3.quant']
{('F_rathbuni_counts_ensembl.csv', '15_ppt'): ['F_rathbuni_BW_1.quant', 'F_rathbuni_BW_2.quant', 'F_rathbuni_BW_3.quant'], ('F_rathbuni_counts_ensembl.csv', '0.2_ppt'): ['F_rathbuni_FW_1.quant', 'F_rathbuni_FW_2.quant', 'F_rathbuni_FW_3.quant'], ('F_rathbuni_counts_ensembl.csv', 'transfer'): ['F_rathbuni_transfer_1.quant', 'F_rathbuni_transfer_2.quant', 'F_rathbuni_transfer_3.quant']}
F_zebrinus_counts_ensembl.csv
['Unnamed: 0', 'F_zebrinus_BW_1.quant', 'F_zebrinus_BW_2.quant', 'F_zebrinus_FW_1.quant', 'F_zebrinus_FW_2.quant']
{('F_zebrinus_counts_ensembl.csv', '15_ppt'): ['F_zebrinus_BW_1.quant', 'F_zebrinus_BW_2.quant'], ('F_zebrinus_counts_ensembl.csv', '0.2_ppt'): ['F_zebrinus_FW_1.quant', 'F_zebrinus_FW_2.quant']}
F_grandis_counts_ensembl.csv
['Unnamed: 0', 'F_grandis_BW_1.quant', 'F_grandis_BW_2.quant', 'F_grandis_BW_3.quant', 'F_grandis_FW_1.quant', 'F_grandis_FW_2.quant', 'F_grandis_FW_3.quant', 'F_grandis_transfer_1.quant', 'F_grandis_transfer_2.quant', 'F_grandis_transfer_3.quant']
{('F_grandis_counts_ensembl.csv', '15_ppt'): ['F_grandis_BW_1.quant', 'F_grandis_BW_2.quant', 'F_grandis_BW_3.quant'], ('F_grandis_counts_ensembl.csv', '0.2_ppt'): ['F_grandis_FW_1.quant', 'F_grandis_FW_2.quant', 'F_grandis_FW_3.quant'], ('F_grandis_counts_ensembl.csv', 'transfer'): ['F_grandis_transfer_1.quant', 'F_grandis_transfer_2.quant', 'F_grandis_transfer_3.quant']}
F_notatus_counts_ensembl.csv
['Unnamed: 0', 'F_notatus_BW_1.quant', 'F_notatus_BW_2.quant', 'F_notatus_BW_3.quant', 'F_notatus_FW_1.quant', 'F_notatus_FW_2.quant', 'F_notatus_FW_3.quant', 'F_notatus_transfer_1.quant', 'F_notatus_transfer_2.quant', 'F_notatus_transfer_3.quant']
{('F_notatus_counts_ensembl.csv', '15_ppt'): ['F_notatus_BW_1.quant', 'F_notatus_BW_2.quant', 'F_notatus_BW_3.quant'], ('F_notatus_counts_ensembl.csv', '0.2_ppt'): ['F_notatus_FW_1.quant', 'F_notatus_FW_2.quant', 'F_notatus_FW_3.quant'], ('F_notatus_counts_ensembl.csv', 'transfer'): ['F_notatus_transfer_1.quant', 'F_notatus_transfer_2.quant', 'F_notatus_transfer_3.quant']}
F_notti_counts_ensembl.csv
['Unnamed: 0', 'F_notti_FW_1.quant', 'F_notti_FW_2.quant']
{('F_notti_counts_ensembl.csv', '0.2_ppt'): ['F_notti_FW_1.quant', 'F_notti_FW_2.quant']}
F_parvapinis_counts_ensembl.csv
['Unnamed: 0', 'F_parvapinis_BW_1.quant', 'F_parvapinis_BW_2.quant', 'F_parvapinis_BW_3.quant', 'F_parvapinis_FW_1.quant', 'F_parvapinis_FW_2.quant', 'F_parvapinis_FW_3.quant', 'F_parvapinis_transfer_1.quant', 'F_parvapinis_transfer_2.quant']
{('F_parvapinis_counts_ensembl.csv', '15_ppt'): ['F_parvapinis_BW_1.quant', 'F_parvapinis_BW_2.quant', 'F_parvapinis_BW_3.quant'], ('F_parvapinis_counts_ensembl.csv', '0.2_ppt'): ['F_parvapinis_FW_1.quant', 'F_parvapinis_FW_2.quant', 'F_parvapinis_FW_3.quant'], ('F_parvapinis_counts_ensembl.csv', 'transfer'): ['F_parvapinis_transfer_1.quant', 'F_parvapinis_transfer_2.quant']}
L_goodei_counts_ensembl.csv
['Unnamed: 0', 'L_goodei_BW_1.quant', 'L_goodei_BW_2.quant', 'L_goodei_BW_3.quant', 'L_goodei_FW_1.quant', 'L_goodei_FW_2.quant', 'L_goodei_FW_3.quant', 'L_goodei_transfer_1.quant', 'L_goodei_transfer_2.quant', 'L_goodei_transfer_3.quant']
{('L_goodei_counts_ensembl.csv', '15_ppt'): ['L_goodei_BW_1.quant', 'L_goodei_BW_2.quant', 'L_goodei_BW_3.quant'], ('L_goodei_counts_ensembl.csv', '0.2_ppt'): ['L_goodei_FW_1.quant', 'L_goodei_FW_2.quant', 'L_goodei_FW_3.quant'], ('L_goodei_counts_ensembl.csv', 'transfer'): ['L_goodei_transfer_1.quant', 'L_goodei_transfer_2.quant', 'L_goodei_transfer_3.quant']}
F_olivaceous_counts_ensembl.csv
['Unnamed: 0', 'F_olivaceous_BW_1.quant', 'F_olivaceous_BW_2.quant', 'F_olivaceous_BW_3.quant', 'F_olivaceous_FW_1.quant', 'F_olivaceous_FW_2.quant', 'F_olivaceous_FW_3.quant', 'F_olivaceous_transfer_1.quant', 'F_olivaceous_transfer_2.quant']
{('F_olivaceous_counts_ensembl.csv', '15_ppt'): ['F_olivaceous_BW_1.quant', 'F_olivaceous_BW_2.quant', 'F_olivaceous_BW_3.quant'], ('F_olivaceous_counts_ensembl.csv', '0.2_ppt'): ['F_olivaceous_FW_1.quant', 'F_olivaceous_FW_2.quant', 'F_olivaceous_FW_3.quant'], ('F_olivaceous_counts_ensembl.csv', 'transfer'): ['F_olivaceous_transfer_1.quant', 'F_olivaceous_transfer_2.quant']}
L_parva_counts_ensembl.csv
['Unnamed: 0', 'L_parva_BW_1.quant', 'L_parva_BW_2.quant', 'L_parva_BW_3.quant', 'L_parva_FW_1.quant', 'L_parva_FW_2.quant', 'L_parva_FW_3.quant', 'L_parva_transfer_1.quant', 'L_parva_transfer_2.quant', 'L_parva_transfer_3.quant']
{('L_parva_counts_ensembl.csv', '15_ppt'): ['L_parva_BW_1.quant', 'L_parva_BW_2.quant', 'L_parva_BW_3.quant'], ('L_parva_counts_ensembl.csv', '0.2_ppt'): ['L_parva_FW_1.quant', 'L_parva_FW_2.quant', 'L_parva_FW_3.quant'], ('L_parva_counts_ensembl.csv', 'transfer'): ['L_parva_transfer_1.quant', 'L_parva_transfer_2.quant', 'L_parva_transfer_3.quant']}
F_heteroclitusMDPP_counts_ensembl.csv
['Unnamed: 0', 'F_heteroclitusMDPP_BW_1.quant', 'F_heteroclitusMDPP_BW_2.quant', 'F_heteroclitusMDPP_BW_3.quant', 'F_heteroclitusMDPP_FW_1.quant', 'F_heteroclitusMDPP_FW_2.quant', 'F_heteroclitusMDPP_FW_3.quant', 'F_heteroclitusMDPP_transfer_1.quant', 'F_heteroclitusMDPP_transfer_2.quant', 'F_heteroclitusMDPP_transfer_3.quant']
{('F_heteroclitusMDPP_counts_ensembl.csv', '15_ppt'): ['F_heteroclitusMDPP_BW_1.quant', 'F_heteroclitusMDPP_BW_2.quant', 'F_heteroclitusMDPP_BW_3.quant'], ('F_heteroclitusMDPP_counts_ensembl.csv', '0.2_ppt'): ['F_heteroclitusMDPP_FW_1.quant', 'F_heteroclitusMDPP_FW_2.quant', 'F_heteroclitusMDPP_FW_3.quant'], ('F_heteroclitusMDPP_counts_ensembl.csv', 'transfer'): ['F_heteroclitusMDPP_transfer_1.quant', 'F_heteroclitusMDPP_transfer_2.quant', 'F_heteroclitusMDPP_transfer_3.quant']}
F_similis_counts_ensembl.csv
['Unnamed: 0', 'F_similis_BW_1.quant', 'F_similis_BW_2.quant', 'F_similis_BW_3.quant', 'F_similis_FW_1.quant', 'F_similis_FW_2.quant', 'F_similis_FW_3.quant', 'F_similis_transfer_1.quant', 'F_similis_transfer_2.quant', 'F_similis_transfer_3.quant']
{('F_similis_counts_ensembl.csv', '15_ppt'): ['F_similis_BW_1.quant', 'F_similis_BW_2.quant', 'F_similis_BW_3.quant'], ('F_similis_counts_ensembl.csv', '0.2_ppt'): ['F_similis_FW_1.quant', 'F_similis_FW_2.quant', 'F_similis_FW_3.quant'], ('F_similis_counts_ensembl.csv', 'transfer'): ['F_similis_transfer_1.quant', 'F_similis_transfer_2.quant', 'F_similis_transfer_3.quant']}
F_diaphanus_counts_ensembl.csv
['Unnamed: 0', 'F_diaphanus_BW_1.quant', 'F_diaphanus_BW_2.quant', 'F_diaphanus_FW_2.quant', 'F_diaphanus_FW_3.quant', 'F_diaphanus_transfer_1.quant', 'F_diaphanus_transfer_2.quant']
{('F_diaphanus_counts_ensembl.csv', '15_ppt'): ['F_diaphanus_BW_1.quant', 'F_diaphanus_BW_2.quant'], ('F_diaphanus_counts_ensembl.csv', '0.2_ppt'): ['F_diaphanus_FW_2.quant', 'F_diaphanus_FW_3.quant'], ('F_diaphanus_counts_ensembl.csv', 'transfer'): ['F_diaphanus_transfer_1.quant', 'F_diaphanus_transfer_2.quant']}
F_chrysotus_counts_ensembl.csv
['Unnamed: 0', 'F_chrysotus_BW_1.quant', 'F_chrysotus_BW_2.quant', 'F_chrysotus_BW_3.quant', 'F_chrysotus_FW_1.quant', 'F_chrysotus_FW_2.quant', 'F_chrysotus_FW_3.quant', 'F_chrysotus_transfer_1.quant', 'F_chrysotus_transfer_2.quant']
{('F_chrysotus_counts_ensembl.csv', '15_ppt'): ['F_chrysotus_BW_1.quant', 'F_chrysotus_BW_2.quant', 'F_chrysotus_BW_3.quant'], ('F_chrysotus_counts_ensembl.csv', '0.2_ppt'): ['F_chrysotus_FW_1.quant', 'F_chrysotus_FW_2.quant', 'F_chrysotus_FW_3.quant'], ('F_chrysotus_counts_ensembl.csv', 'transfer'): ['F_chrysotus_transfer_1.quant', 'F_chrysotus_transfer_2.quant']}
A_xenica_counts_ensembl.csv
['Unnamed: 0', 'A_xenica_BW_1.quant', 'A_xenica_BW_2.quant', 'A_xenica_BW_3.quant', 'A_xenica_FW_1.quant', 'A_xenica_FW_2.quant', 'A_xenica_FW_3.quant', 'A_xenica_transfer_1.quant', 'A_xenica_transfer_2.quant', 'A_xenica_transfer_3.quant']
{('A_xenica_counts_ensembl.csv', '15_ppt'): ['A_xenica_BW_1.quant', 'A_xenica_BW_2.quant', 'A_xenica_BW_3.quant'], ('A_xenica_counts_ensembl.csv', '0.2_ppt'): ['A_xenica_FW_1.quant', 'A_xenica_FW_2.quant', 'A_xenica_FW_3.quant'], ('A_xenica_counts_ensembl.csv', 'transfer'): ['A_xenica_transfer_1.quant', 'A_xenica_transfer_2.quant', 'A_xenica_transfer_3.quant']}
F_catanatus_counts_ensembl.csv
['Unnamed: 0', 'F_catanatus_BW_1.quant', 'F_catanatus_BW_2.quant', 'F_catanatus_BW_3.quant', 'F_catanatus_FW_1.quant', 'F_catanatus_FW_2.quant', 'F_catanatus_transfer_1.quant', 'F_catanatus_transfer_2.quant']
{('F_catanatus_counts_ensembl.csv', '15_ppt'): ['F_catanatus_BW_1.quant', 'F_catanatus_BW_2.quant', 'F_catanatus_BW_3.quant'], ('F_catanatus_counts_ensembl.csv', '0.2_ppt'): ['F_catanatus_FW_1.quant', 'F_catanatus_FW_2.quant'], ('F_catanatus_counts_ensembl.csv', 'transfer'): ['F_catanatus_transfer_1.quant', 'F_catanatus_transfer_2.quant']}
F_heteroclitusMDPL_counts_ensembl.csv
['Unnamed: 0', 'F_heteroclitusMDPL_BW_1.quant', 'F_heteroclitusMDPL_BW_2.quant', 'F_heteroclitusMDPL_BW_3.quant', 'F_heteroclitusMDPL_FW_1.quant', 'F_heteroclitusMDPL_FW_2.quant', 'F_heteroclitusMDPL_FW_3.quant', 'F_heteroclitusMDPL_transfer_1.quant', 'F_heteroclitusMDPL_transfer_2.quant', 'F_heteroclitusMDPL_transfer_3.quant']
{('F_heteroclitusMDPL_counts_ensembl.csv', '15_ppt'): ['F_heteroclitusMDPL_BW_1.quant', 'F_heteroclitusMDPL_BW_2.quant', 'F_heteroclitusMDPL_BW_3.quant'], ('F_heteroclitusMDPL_counts_ensembl.csv', '0.2_ppt'): ['F_heteroclitusMDPL_FW_1.quant', 'F_heteroclitusMDPL_FW_2.quant', 'F_heteroclitusMDPL_FW_3.quant'], ('F_heteroclitusMDPL_counts_ensembl.csv', 'transfer'): ['F_heteroclitusMDPL_transfer_1.quant', 'F_heteroclitusMDPL_transfer_2.quant', 'F_heteroclitusMDPL_transfer_3.quant']}

# replicates file for one large expression matrix

In [10]:
dir = '/Users/johnsolk/Documents/UCDavis/Whitehead/kfish_salmon/'
species_files = ["OG_species_counts.csv"]
replicates = {}
for species in species_files:
    if species.endswith(".csv"):
        print(species)
        species_file = dir + species
        frame = pd.read_csv(species_file)
        species_replicates = list(frame.columns.values)
        for rep in species_replicates:
            if rep != "OG":
                treatment = rep.split("_")[2]
                if treatment == "FW":
                    condition = "0.2_ppt"
                if treatment == "BW":
                    condition = "15_ppt"
                if treatment == "transfer":
                    condition = "transfer"
                species_treatment = (species,condition)
                if species_treatment not in replicates:
                    replicates[species_treatment] = [rep]
                else:
                    replicates[species_treatment].append(rep)
print(replicates)

OG_species_counts.csv
{('OG_species_counts.csv', '15_ppt'): ['F_heteroclitusMDPP_BW_1', 'F_heteroclitusMDPP_BW_2', 'F_heteroclitusMDPP_BW_3', 'F_parvapinis_BW_1', 'F_parvapinis_BW_2', 'F_parvapinis_BW_3', 'F_olivaceous_BW_1', 'F_olivaceous_BW_2', 'F_olivaceous_BW_3', 'F_notatus_BW_1', 'F_notatus_BW_2', 'F_notatus_BW_3', 'F_heteroclitusMDPL_BW_1', 'F_heteroclitusMDPL_BW_2', 'F_heteroclitusMDPL_BW_3', 'F_grandis_BW_1', 'F_grandis_BW_2', 'F_grandis_BW_3', 'F_zebrinus_BW_1', 'F_zebrinus_BW_2', 'A_xenica_BW_1', 'A_xenica_BW_2', 'A_xenica_BW_3', 'F_catanatus_BW_1', 'F_catanatus_BW_2', 'F_catanatus_BW_3', 'F_sciadicus_BW_1', 'F_rathbuni_BW_1', 'F_rathbuni_BW_2', 'F_rathbuni_BW_3', 'F_chrysotus_BW_1', 'F_chrysotus_BW_2', 'F_chrysotus_BW_3', 'F_diaphanus_BW_1', 'F_diaphanus_BW_2', 'L_goodei_BW_1', 'L_goodei_BW_2', 'L_goodei_BW_3', 'F_similis_BW_1', 'F_similis_BW_2', 'F_similis_BW_3'], ('OG_species_counts.csv', '0.2_ppt'): ['F_heteroclitusMDPP_FW_1', 'F_heteroclitusMDPP_FW_2', 'F_heteroclitusMDPP_FW_3', 'F_parvapinis_FW_1', 'F_parvapinis_FW_2', 'F_parvapinis_FW_3', 'F_olivaceous_FW_1', 'F_olivaceous_FW_2', 'F_olivaceous_FW_3', 'F_notatus_FW_1', 'F_notatus_FW_2', 'F_notatus_FW_3', 'F_heteroclitusMDPL_FW_1', 'F_heteroclitusMDPL_FW_2', 'F_heteroclitusMDPL_FW_3', 'F_notti_FW_1', 'F_notti_FW_2', 'F_grandis_FW_1', 'F_grandis_FW_2', 'F_grandis_FW_3', 'F_zebrinus_FW_1', 'F_zebrinus_FW_2', 'A_xenica_FW_1', 'A_xenica_FW_2', 'A_xenica_FW_3', 'F_catanatus_FW_1', 'F_catanatus_FW_2', 'F_sciadicus_FW_1', 'F_sciadicus_FW_2', 'F_rathbuni_FW_1', 'F_rathbuni_FW_2', 'F_rathbuni_FW_3', 'F_chrysotus_FW_1', 'F_chrysotus_FW_2', 'F_chrysotus_FW_3', 'F_diaphanus_FW_2', 'F_diaphanus_FW_3', 'L_goodei_FW_1', 'L_goodei_FW_2', 'L_goodei_FW_3', 'F_similis_FW_1', 'F_similis_FW_2', 'F_similis_FW_3'], ('OG_species_counts.csv', 'transfer'): ['F_heteroclitusMDPP_transfer_1', 'F_heteroclitusMDPP_transfer_2', 'F_heteroclitusMDPP_transfer_3', 'F_parvapinis_transfer_1', 'F_parvapinis_transfer_2', 'F_olivaceous_transfer_1', 'F_olivaceous_transfer_2', 'F_notatus_transfer_1', 'F_notatus_transfer_2', 'F_notatus_transfer_3', 'F_heteroclitusMDPL_transfer_1', 'F_heteroclitusMDPL_transfer_2', 'F_heteroclitusMDPL_transfer_3', 'F_grandis_transfer_1', 'F_grandis_transfer_2', 'F_grandis_transfer_3', 'A_xenica_transfer_1', 'A_xenica_transfer_2', 'A_xenica_transfer_3', 'F_catanatus_transfer_1', 'F_catanatus_transfer_2', 'F_sciadicus_transfer_1', 'F_rathbuni_transfer_1', 'F_rathbuni_transfer_2', 'F_rathbuni_transfer_3', 'F_chrysotus_transfer_1', 'F_chrysotus_transfer_2', 'F_diaphanus_transfer_1', 'F_diaphanus_transfer_2', 'L_goodei_transfer_1', 'L_goodei_transfer_2', 'L_goodei_transfer_3', 'F_similis_transfer_1', 'F_similis_transfer_2', 'F_similis_transfer_3']}

In [7]:
with open("/Users/johnsolk/Documents/UCDavis/Whitehead/kfish_salmon/OG_combined_replicates",'w') as fp:
    for i in replicates:
        species = i[0]
        condition = i[1]
        reps = ', '.join(replicates[i])
        fp.write(species + "\t")
        fp.write(condition + "\t")
        fp.write(reps + "\n")

# test code combined expression tables

In [5]:
species = 'F_grandis'
species_dir = salmon_renamed + species + "/"
species_files = os.listdir(species_dir)

In [6]:
print(species_files)

['F_grandis_transfer_1.quant.sf', 'F_grandis_FW_1.quant.sf', 'F_grandis_BW_3.quant.sf', 'F_grandis_BW_2.quant.sf', 'F_grandis_transfer_3.quant.sf', 'F_grandis_transfer_2.quant.sf', 'F_grandis_BW_1.quant.sf', 'F_grandis_FW_2.quant.sf', 'F_grandis_FW_3.quant.sf']

In [36]:
species_merged = pd.DataFrame(columns=['Name'])
quant_file = species_dir + 'F_grandis_transfer_1.quant.sf'
quant = 'F_grandis_transfer_1.quant.sf'
colname = quant.split(".")[0]
species_exp = pd.read_csv(quant_file)
species_exp = species_exp.drop(columns=['Unnamed: 0','Length','EffectiveLength','TPM'])
species_exp = species_exp.rename(index=str, columns={"NumReads": colname})
cols = ['Name',colname]
species_exp = species_exp[cols]
species_merged = pd.merge(species_merged,species_exp,how='outer')

In [37]:
species_merged.head()

                             Name  F_grandis_transfer_1
0  Fgrandis-TRINITY_DN85_c0_g1_i1                 0.000
1  Fgrandis-TRINITY_DN85_c1_g1_i6                 0.000
2  Fgrandis-TRINITY_DN85_c1_g1_i7                27.822
3  Fgrandis-TRINITY_DN85_c1_g1_i5                 0.000
4  Fgrandis-TRINITY_DN85_c1_g1_i9                13.620

In [14]:
print(species_exp.shape)

(676974, 1)

In [38]:
species_merged = pd.DataFrame(columns=['Name'])
for quant in species_files:
    quant_file = species_dir + quant
    species_exp = pd.read_csv(quant_file)
    species_exp = species_exp.drop(columns=['Unnamed: 0','Length','EffectiveLength','TPM'])
    colname = quant.split(".")[0]
    species_exp = species_exp.rename(index=str, columns={"NumReads": colname})
    cols = ['Name',colname]
    species_exp = species_exp[cols]
    species_merged = pd.merge(species_merged,species_exp,how='outer')
    print(species_merged.shape)

(676974, 2)
(676974, 3)
(676974, 4)
(676974, 5)
(676974, 6)
(676974, 7)
(676974, 8)
(676974, 9)
(676974, 10)

In [41]:
species_merged = species_merged.set_index('Name')
species_merged.head()

,F_grandis_transfer_1,F_grandis_FW_1,F_grandis_BW_3,F_grandis_BW_2,F_grandis_transfer_3,F_grandis_transfer_2,F_grandis_BW_1,F_grandis_FW_2,F_grandis_FW_3
Name,,,,,,,,,
Fgrandis-TRINITY_DN85_c0_g1_i1,0.000,2.000,0.000,0.000,0.000,0.000,1.000,0.000,3.000
Fgrandis-TRINITY_DN85_c1_g1_i6,0.000,0.000,0.000,0.000,0.000,0.000,0.000,7.699,0.000
Fgrandis-TRINITY_DN85_c1_g1_i7,27.822,22.913,0.000,5.587,28.101,13.151,167.787,17.078,25.892
Fgrandis-TRINITY_DN85_c1_g1_i5,0.000,3.632,0.000,0.000,1.090,1.132,5.414,3.439,4.637
Fgrandis-TRINITY_DN85_c1_g1_i9,13.620,0.000,32.091,0.000,11.686,0.000,0.000,0.000,16.840

In [43]:
species_merged.to_csv("F_grandis.tsv",sep="\t")

# test code rename contigs

In [48]:
quant_test = pd.read_csv("/Users/johnsolk/Documents/UCDavis/Whitehead/kfish_salmon/kfish_salmon/A_xenica_FW_2.quant/quant.sf",sep="\t")
quant_test.head()

                   Name  Length  EffectiveLength         TPM  NumReads
0  TRINITY_DN8_c0_g1_i7    1034           774.91   26.168216    92.852
1  TRINITY_DN8_c0_g1_i6    1035           775.91  368.774479  1310.196
2  TRINITY_DN8_c0_g1_i1    3195          2935.91   65.835643   885.050
3  TRINITY_DN8_c0_g1_i9    2874          2614.91  344.014191  4119.052
4  TRINITY_DN8_c0_g1_i4    2155          1895.91   96.229381   835.391

change 'Name' to '`Genusspecies-TRINITY_DNx_ca_gb_ic`'

In [49]:
genusspecies = genus_species.split("_")[0] + genus_species.split("_")[1]

In [50]:
prefix = genusspecies+"-"
quant_test['new'] = prefix+quant_test['Name'].astype(str)

In [51]:
quant_test.head()

,Name,Length,EffectiveLength,TPM,NumReads,new
0,TRINITY_DN8_c0_g1_i7,1034,774.91,26.168216,92.852,Fdiaphanus-TRINITY_DN8_c0_g1_i7
1,TRINITY_DN8_c0_g1_i6,1035,775.91,368.774479,1310.196,Fdiaphanus-TRINITY_DN8_c0_g1_i6
2,TRINITY_DN8_c0_g1_i1,3195,2935.91,65.835643,885.050,Fdiaphanus-TRINITY_DN8_c0_g1_i1
3,TRINITY_DN8_c0_g1_i9,2874,2614.91,344.014191,4119.052,Fdiaphanus-TRINITY_DN8_c0_g1_i9
4,TRINITY_DN8_c0_g1_i4,2155,1895.91,96.229381,835.391,Fdiaphanus-TRINITY_DN8_c0_g1_i4

In [52]:
quant_test = quant_test.drop(columns=['Name'])

In [53]:
quant_test = quant_test.rename(index=str, columns={"new": "Name", "Length": "Length",'EffectiveLength':'EffectiveLength','TPM':'TPM','NumReads':'NumReads'})

In [54]:
quant_test.head()

,Length,EffectiveLength,TPM,NumReads,Name
0,1034,774.91,26.168216,92.852,Fdiaphanus-TRINITY_DN8_c0_g1_i7
1,1035,775.91,368.774479,1310.196,Fdiaphanus-TRINITY_DN8_c0_g1_i6
2,3195,2935.91,65.835643,885.050,Fdiaphanus-TRINITY_DN8_c0_g1_i1
3,2874,2614.91,344.014191,4119.052,Fdiaphanus-TRINITY_DN8_c0_g1_i9
4,2155,1895.91,96.229381,835.391,Fdiaphanus-TRINITY_DN8_c0_g1_i4