In [11]:
import pyupset as pyu
import matplotlib as mpl
import matplotlib.pyplot as plt
from pickle import load
import pandas as pd
import glob
import os
import pandas as pd
import numpy as np
# requires dammit env
# source activate dammit
#from dammit.fileio.gff3 import GFF3Parser
%matplotlib inline
import pylab as plt
from matplotlib_venn import venn2

In [12]:
counts_dir = "/Users/johnsolk/Documents/UCDavis/Whitehead/kfish_expression_July2019/tximport_counts_ensembl/"
counts_matrices = os.listdir(counts_dir)
print(counts_matrices)

['F_sciadicus_counts_ensembl.csv', 'F_rathbuni_counts_ensembl.csv', 'F_zebrinus_counts_ensembl.csv', 'F_grandis_counts_ensembl.csv', 'F_notatus_counts_ensembl.csv', '.DS_Store', 'F_parvapinis_counts_ensembl.csv', 'L_goodei_counts_ensembl.csv', 'F_olivaceous_counts_ensembl.csv', 'L_parva_counts_ensembl.csv', 'F_heteroclitusMDPP_counts_ensembl.csv', 'F_similis_counts_ensembl.csv', 'F_diaphanus_counts_ensembl.csv', 'F_chrysotus_counts_ensembl.csv', 'F_nottii_counts_ensembl.csv', 'A_xenica_counts_ensembl.csv', 'F_catanatus_counts_ensembl.csv', 'F_heteroclitusMDPL_counts_ensembl.csv']

In [15]:
print(len(counts_matrices))

18

In [ ]:
# make a gene presence absence table

In [20]:
test = pd.read_csv(counts_dir + 'F_grandis_counts_ensembl.csv',sep="\t")
test = test.rename(columns={'Unnamed: 0': 'Ensembl'})

In [21]:
test.head()

,Ensembl,F_grandis_BW_1.quant,F_grandis_BW_2.quant,F_grandis_BW_3.quant,F_grandis_FW_1.quant,F_grandis_FW_2.quant,F_grandis_FW_3.quant,F_grandis_transfer_1.quant,F_grandis_transfer_2.quant,F_grandis_transfer_3.quant
0,ENSFHEP00000000003,176430.358,4971.575,13689.398,47814.452,19910.111,151068.054,35873.004,46698.934,25139.132
1,ENSFHEP00000000004,992371.765,24782.467,73046.439,359752.611,81545.853,218064.407,198220.487,94937.704,79193.875
2,ENSFHEP00000000005,422014.871,15623.833,41711.316,183666.746,17125.402,150757.521,72850.352,32092.842,24802.574
3,ENSFHEP00000000007,111501.647,2983.825,9816.175,46422.538,10979.712,36941.974,27458.698,10912.373,10537.412
4,ENSFHEP00000000008,270393.828,11621.579,26422.202,112829.924,31997.884,101728.512,68985.988,35915.431,33827.373

In [28]:
presence_absence = pd.DataFrame()
presence_absence['Ensembl'] = ""  
for genes_file in counts_matrices:
    if genes_file.endswith(".csv"):
        species = genes_file.split("_")[0]+"_"+genes_file.split("_")[1]
        print(species)
        table = pd.read_csv(counts_dir+genes_file,sep="\t")
        table = table.rename(columns={'Unnamed: 0': 'Ensembl'})
        table_filt = table[(table.iloc[:,1:] > 5).any(1)]
        print(table.shape)
        #print(table_filt.shape)
        colnames = ['Ensembl',species]
        species_presence = pd.DataFrame()
        species_presence['Ensembl'] = table['Ensembl']
        species_presence[species] = '1'
        presence_absence = pd.merge(presence_absence,species_presence,on='Ensembl',how='outer')
        print(presence_absence.shape)
        # construct unique gene list ()

F_sciadicus
(19881, 5)
(19881, 2)
F_rathbuni
(22781, 10)
(24903, 3)
F_zebrinus
(20275, 5)
(26184, 4)
F_grandis
(24245, 10)
(28334, 5)
F_notatus
(22290, 10)
(29064, 6)
F_parvapinis
(20432, 9)
(29485, 7)
L_goodei
(21897, 10)
(29824, 8)
F_olivaceous
(21482, 9)
(30087, 9)
L_parva
(22157, 10)
(30359, 10)
F_heteroclitusMDPP
(22922, 10)
(30727, 11)
F_similis
(21828, 10)
(30921, 12)
F_diaphanus
(21457, 7)
(31036, 13)
F_chrysotus
(22222, 9)
(31178, 14)
F_nottii
(18113, 3)
(31252, 15)
A_xenica
(21733, 10)
(31367, 16)
F_catanatus
(22226, 8)
(31475, 17)
F_heteroclitusMDPL
(22806, 10)
(31590, 18)

In [31]:
presence_absence = presence_absence.fillna(0)

In [32]:
presence_absence.head()

,Ensembl,F_sciadicus,F_rathbuni,F_zebrinus,F_grandis,F_notatus,F_parvapinis,L_goodei,F_olivaceous,L_parva,F_heteroclitusMDPP,F_similis,F_diaphanus,F_chrysotus,F_nottii,A_xenica,F_catanatus,F_heteroclitusMDPL
0,ENSFHEP00000000002,1,1,1,0,1,1,1,1,1,0,1,1,1,0,1,1,1
1,ENSFHEP00000000003,1,1,0,1,1,1,1,1,1,1,1,0,1,1,1,1,0
2,ENSFHEP00000000004,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
3,ENSFHEP00000000005,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
4,ENSFHEP00000000007,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1

In [38]:
presence_absence.to_csv("/Users/johnsolk/Documents/UCDavis/Whitehead/kfish_expression_July2019/presence_absence.csv")

In [33]:
presence_absence.shape

(31590, 18)

In [35]:
grouped_d = {}
for spname in presence_absence.columns:
    if spname == 'Ensembl':
        continue
    sp_df = pd.DataFrame(presence_absence, columns=["Ensembl", spname])
    sp_df = sp_df.loc[sp_df[spname] == '1']
    print(spname, len(sp_df))
    grouped_d[spname] = sp_df

F_sciadicus 19881
F_rathbuni 22781
F_zebrinus 20275
F_grandis 24245
F_notatus 22290
F_parvapinis 20432
L_goodei 21897
F_olivaceous 21482
L_parva 22157
F_heteroclitusMDPP 22922
F_similis 21828
F_diaphanus 21457
F_chrysotus 22222
F_nottii 18113
A_xenica 21733
F_catanatus 22226
F_heteroclitusMDPL 22806

In [36]:
keep = ['F_sciadicus', 'F_rathbuni', 'F_zebrinus', 'F_grandis', 'F_notatus',
       'F_parvapinis','L_goodei','F_olivaceous','L_parva','F_heteroclitusMDPP',
       'F_similis','F_diaphanus','F_chrysotus','F_nottii','A_xenica','F_catanatus','F_heteroclitusMDPL']

keylist = list(grouped_d.keys())
for k in keylist:
    if k not in keep:
        del grouped_d[k]

In [39]:
#pplot=pyu.plot(grouped_d)