In [3]:
import pyupset as pyu
import matplotlib as mpl
import matplotlib.pyplot as plt
from pickle import load
import pandas as pd
import glob 
%matplotlib inline

In [54]:
gene_table = pd.read_csv('../evaluation/presence_absence.csv',index_col=False)
gene_table = gene_table.drop('Unnamed: 0', axis=1)

In [55]:
gene_table.head()

,Ensembl,F_sciadicus,F_rathbuni,F_zebrinus,F_grandis,F_notatus,F_parvapinis,L_goodei,F_olivaceous,L_parva,F_heteroclitusMDPP,F_similis,F_diaphanus,F_chrysotus,F_nottii,A_xenica,F_catanatus,F_heteroclitusMDPL
0,ENSFHEP00000000002,1,1,1,0,1,1,1,1,1,0,1,1,1,0,1,1,1
1,ENSFHEP00000000003,1,1,0,1,1,1,1,1,1,1,1,0,1,1,1,1,0
2,ENSFHEP00000000004,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
3,ENSFHEP00000000005,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
4,ENSFHEP00000000007,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1

In [56]:
#gene_table = gene_table[['Ensembl','F_sciadicus','F_rathbuni','F_zebrinus','F_grandis','F_notatus']]

In [57]:
keylist = list(gene_table.keys())

In [58]:
keylist

['Ensembl',
 'F_sciadicus',
 'F_rathbuni',
 'F_zebrinus',
 'F_grandis',
 'F_notatus',
 'F_parvapinis',
 'L_goodei',
 'F_olivaceous',
 'L_parva',
 'F_heteroclitusMDPP',
 'F_similis',
 'F_diaphanus',
 'F_chrysotus',
 'F_nottii',
 'A_xenica',
 'F_catanatus',
 'F_heteroclitusMDPL']

In [59]:
grouped_genes = {}
for sp in gene_table.columns:
    if sp == 'Ensembl':
        continue
    sp_df = pd.DataFrame(gene_table, columns=["Ensembl", sp])
    sp_df = sp_df.loc[sp_df[sp] == 1]
    print(sp, len(sp_df))
    grouped_d[sp] = sp_df

F_sciadicus 19881
F_rathbuni 22781
F_zebrinus 20275
F_grandis 24245
F_notatus 22290
F_parvapinis 20432
L_goodei 21897
F_olivaceous 21482
L_parva 22157
F_heteroclitusMDPP 22922
F_similis 21828
F_diaphanus 21457
F_chrysotus 22222
F_nottii 18113
A_xenica 21733
F_catanatus 22226
F_heteroclitusMDPL 22806

In [60]:
pplot=pyu.plot(grouped_d)

KeyboardInterrupt: